.add-survey {
    line-height: 1;
    font-size: 4rem;
    transition: var(--standard-transition);
}

.add-survey i {
    border-radius: 50%;
    background-color: #fff;
}

.delete-survey {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
